<h1><%=action%> question</h1>

<% if @question.errors.any? %>
    <div class="alert alert-danger">
        <ul><% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %></ul>
    </div>
<% end %>

<%= form_for @question do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control", id:"formGroupExampleInput"  %>
  </div>
  <div>
    <%= f.label :body %><br>
    <%= f.text_area :body, class:"form-control", id:"exampleFormControlTextarea1" %>
  </div>
  <div>
    <%= f.submit class:"btn btn-primary", id:"cardindex"  %>
  </div>
<% end %>
