<div class="row" id="cardindex">
  <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == "" ? "success" : key %>"><%= value %></div>
      <% end %>
  </div>
  <% @questions.each do |question| %>
  <div class="col-lg-10 offset-lg-1">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-1" id="ansnum">
              <h4><%= question.vote_questions.count %></h4>
              <p><strong><%= question.vote_questions.count == 1 ? "Vote" : "Votes" %> </strong></p>
          </div>
          <div class="col-1" id="ansnum">
              <h4><%= question.answers.count%></h4>
              <p><strong><%= question.answers.count == 1 ? "Answer" : "Answers" %> </strong></p>
          </div>
          <div class="col-10">
            <a href="<%= question_path(question) %>" class="">
            <h5 class="card-title"><h5><%=question.title%></h5></a>
            <p class="card-text"><strong>User:</strong> <%= question.user.email%> <strong>Asked:</strong> <%= question.created_at%> </p>
        
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
