<div class="row">
    <div class="col-8 offset-2">
        <h1><%= @question.title %></h1>
        <div class="row">
            <div class="col-1">
                <p>Vote</p>
            </div>
            <div class="col-11">
                <p><%= @question.body %></p>
                <% if signed_in? && @question.user == current_user%>
                    <div id="actions">
                        <%= link_to "&#x270E;".html_safe, edit_question_path(@question) %>
                        <%= link_to "&#128465;".html_safe, @question, method: :delete, data: { confirm: "¿Estás seguro de eliminar la pregunta?" } %>
                    </div>
                <%end%>
                <p><strong>Comments</strong></p>
                <% @questioncomments.each do |comment| %>
                    <p><%= comment.text %></p>
                <%end%>
                <% if signed_in?%>
                <%= form_for @question.comments.build do |f| %>
                    <%= f.hidden_field :commentable_id %>
                    <%= f.hidden_field :commentable_type %>
                    <%= f.text_area :text, class:"form-control", id:"exampleFormControlTextarea1", rows:"1" %>
                    <%= f.submit 'Comment', class: 'btn' %>
                <% end %>
                <%end%>
            </div>
        
            <div class="col-12">
                <h2><%= @answers.count %> <%= @answers.count == 1 ? "Answer" : "Answers" %> </h2>
                <% @answers.each do |answer|%>
                <div class="row">      
                    <div class="col-1"><p>Vote</p>
                    </div>
                
                    <div class="col-11">
                        <p><%= answer.text %></p>
                                <% answer.comments.each do |comment| %>
                                    <p>Comment: <%= comment.text %></p>
                                <%end%>
                                    <% if signed_in?%>
                                        <%= form_for answer.comments.build do |f| %>
                                            <%= f.hidden_field :commentable_id %>
                                            <%= f.hidden_field :commentable_type %>
                                            <%= f.text_area :text, class:"form-control", id:"exampleFormControlTextarea1", rows:"2" %>
                                            <%= f.submit 'Comment', class: 'btn btn-secondary btn-sm' %>
                                        <% end %>                        
                                    <% end %>
                    </div>
                </div>
                <%end%>
            </div>
   
            <div class="col-12"> 
                <h3> Answer the question! </h3>
                <% if signed_in?%>
                    <%= form_for @question.answers.build do |f| %>
                        <%= f.hidden_field :question_id %>
                        <%= f.text_area :text, class:"form-control", id:"exampleFormControlTextarea1", rows:"2" %>
                        <%= f.submit 'answer', class: 'btn' %>
                    <% end %>
                <%else%>
                    <p>Sing Up or Log In to answer</p>            
                <%end%>
            </div>

    </div>
</div>